<orgos-widget-kenbuddy class="ng-star-inserted">
    <orgos-widget titlekey="kenBuddy" class="ng-star-inserted">
        <orgos-container aspect="card" class="widget-container cc-card-aspect ng-star-inserted">
            <div class="kenjo-ph-20px widget-header kenjo-flex-horizontal kenjo-flex-center-vertically kenjo-flex-spread kenjo-pv-10px ng-star-inserted">
                <div class="kenjo-flex-size-1 kenjo-flex-horizontal kenjo-flex-center-vertically kenjo-flex-gap-10px">
                    <orgos-text type="Headline4" class="kenjo-font-size-16px kenjo-font-color-text-333333">
                        <div>kenBuddy</div>
                    </orgos-text>
                </div>
                <div class="kenjo-flex-size-0">
                    <orgos-widget-header-action>
                        <orgos-action class="kenjo-font-color-primary-5993e3">
                            <orgos-column-container centercolumns="true" style="align-items: center;">
                                <orgos-column size="0"
                                    class="ac-action-text ac-flex-auto ac-uppercase" orgoscolumn="[object Object]"
                                    style="flex-grow: 0; flex-shrink: 0; word-break: normal;">
                                    ALLE ANSEHEN
                                </orgos-column>
                            </orgos-column-container>
                        </orgos-action>
                    </orgos-widget-header-action>
                </div>
            </div>
            <div _ngcontent-tfg-c413="" class="widget-content" style="height: 336px;">
                <orgos-widget-content class="wat-content">
                    <div class="wat-content__today kenjo-text-align-center">
                        <div class="kenjo-font-size-14px kenjo-font-color-text-333333">
                            Mittwoch,&nbsp;Juli 3
                        </div>
                    </div>
                    <div class="wat-content__counters">
                        <div class="wat-counter">
                            <div class="wat-counter__icon">
                                <kenjo-icon size="30" class="wat-counter__icon__schedule" style="height: 30px; width: 30px; font-size: 30px;">
                                    <mat-icon role="img" class="mat-icon notranslate orgos-font mat-icon-no-color"
                                        aria-hidden="true" id=""
                                        data-mat-icon-type="font">
                                        schedule
                                    </mat-icon>
                                </kenjo-icon>
                            </div>
                            <div class="wat-counter__info">
                                <div class="kenjo-font-size-12px kenjo-font-color-light-text-757575 kenjo-mv-10px">
                                    ERWARTET HEUTE</div>
                                <div class="kenjo-font-size-12px kenjo-font-color-text-333333">8h
                                    0min</div>
                            </div>
                        </div>
                        <div class="wat-counter">
                            <div class="wat-counter__icon wat-counter__icon--tracked-time">
                                <kenjo-icon size="30" class="kenjo-font-color-secondary-59e37c"
                                    style="height: 30px; width: 30px; font-size: 30px;">
                                    <mat-icon role="img" class="mat-icon notranslate orgos-font mat-icon-no-color" aria-hidden="true"
                                        id="" data-mat-icon-type="font">track_time
                                    </mat-icon>
                                </kenjo-icon>
                            </div>
                            <div class="wat-counter__info">
                                <div class="kenjo-font-size-12px kenjo-font-color-light-text-757575 kenjo-mv-10px">
                                    ERFASST HEUTE
                                </div>
                                <div class="kenjo-font-size-12px kenjo-font-color-text-333333">
                                    0h 0min
                                </div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-tfg-c611=""
                        class="wat-content__description kenjo-mt-10px kenjo-text-align-center kenjo-mb-40px ng-star-inserted">
                        <div _ngcontent-tfg-c611=""
                            class="kenjo-font-size-16px kenjo-font-color-text-333333 kenjo-mb-10px"> Gib bitte Deine
                            Arbeitszeit ein </div>
                        <div class="kenjo-font-size-14px kenjo-font-color-light-text-757575">
                            Schichtanfang, Schichtende und Pausendauer. </div>
                    </div>
                    <div class="wat-content__entries ng-star-inserted">
                        <div _ngcontent-tfg-c611=""
                            class="wat-content__entries__container wat-content__entries__container--single">
                            <div class="mat-tooltip-trigger wat-content__entry ng-star-inserted">
                                <div class="wat-content__entry__top">
                                    <!----><orgos-input-simple-time _nghost-tfg-c287=""
                                        style="width: 60px;"><mat-form-field _ngcontent-tfg-c287=""
                                            class="mat-form-field ng-tns-c83-6 mat-primary mat-form-field-type-itfc-input mat-form-field-appearance-standard mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-star-inserted">
                                            <div class="mat-form-field-wrapper ng-tns-c83-6">
                                                <div class="mat-form-field-flex ng-tns-c83-6"><!----><!---->
                                                    <div class="mat-form-field-infix ng-tns-c83-6">
                                                        <orgos-input-time-form-control _ngcontent-tfg-c287=""
                                                            _nghost-tfg-c286="" class="ng-tns-c83-6" id="itfc-input-0"
                                                            aria-describedby="">
                                                            <div _ngcontent-tfg-c286=""
                                                                class="itfc-container ng-untouched ng-pristine ng-valid">
                                                                <input _ngcontent-tfg-c286="" allownumbersonly=""
                                                                    formcontrolname="hour" size="2" maxlength="2"
                                                                    class="itfc-input-element ng-untouched ng-pristine ng-valid"
                                                                    placeholder=""><span _ngcontent-tfg-c286=""
                                                                    class="itfc-input-spacer">:</span><input
                                                                    _ngcontent-tfg-c286="" allownumbersonly=""
                                                                    formcontrolname="minute" size="2" maxlength="2"
                                                                    class="itfc-input-element ng-untouched ng-pristine ng-valid"
                                                                    placeholder=""></div>
                                                        </orgos-input-time-form-control><span
                                                            class="mat-form-field-label-wrapper ng-tns-c83-6"><label
                                                                class="mat-form-field-label ng-tns-c83-6 mat-empty mat-form-field-empty ng-star-inserted"
                                                                id="mat-form-field-label-1" for="itfc-input-0"
                                                                aria-owns="itfc-input-0"><!----><mat-label
                                                                    _ngcontent-tfg-c287=""
                                                                    class="ng-tns-c83-6 ng-star-inserted">Start</mat-label><!----><!----></label><!----></span>
                                                    </div><!---->
                                                </div>
                                                <div class="mat-form-field-underline ng-tns-c83-6 ng-star-inserted">
                                                    <span class="mat-form-field-ripple ng-tns-c83-6"></span></div>
                                                <!---->
                                                <div class="mat-form-field-subscript-wrapper ng-tns-c83-6"><!---->
                                                    <div class="mat-form-field-hint-wrapper ng-tns-c83-6 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                        style="opacity: 1; transform: translateY(0%);"><!---->
                                                        <div class="mat-form-field-hint-spacer ng-tns-c83-6"></div>
                                                    </div><!---->
                                                </div>
                                            </div>
                                        </mat-form-field><!----><!----><!----></orgos-input-simple-time>
                                    <div class="wat-content__entry__icon"><kenjo-icon
                                            size="15" class="kenjo-font-color-light-text-757575"
                                            _nghost-tfg-c46=""
                                            style="height: 15px; width: 15px; font-size: 15px;"><mat-icon
                                                _ngcontent-tfg-c46="" role="img"
                                                class="mat-icon notranslate orgos-font mat-icon-no-color"
                                                aria-hidden="true" id=""
                                                data-mat-icon-type="font">trending_flat</mat-icon></kenjo-icon></div>
                                    <orgos-input-simple-time _nghost-tfg-c287=""
                                        style="width: 60px;"><mat-form-field _ngcontent-tfg-c287=""
                                            class="mat-form-field ng-tns-c83-7 mat-primary mat-form-field-type-itfc-input mat-form-field-appearance-standard mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-star-inserted">
                                            <div class="mat-form-field-wrapper ng-tns-c83-7">
                                                <div class="mat-form-field-flex ng-tns-c83-7"><!----><!---->
                                                    <div class="mat-form-field-infix ng-tns-c83-7">
                                                        <orgos-input-time-form-control _ngcontent-tfg-c287=""
                                                            _nghost-tfg-c286="" class="ng-tns-c83-7" id="itfc-input-1"
                                                            aria-describedby="">
                                                            <div _ngcontent-tfg-c286=""
                                                                class="itfc-container ng-untouched ng-pristine ng-valid">
                                                                <input _ngcontent-tfg-c286="" allownumbersonly=""
                                                                    formcontrolname="hour" size="2" maxlength="2"
                                                                    class="itfc-input-element ng-untouched ng-pristine ng-valid"
                                                                    placeholder=""><span _ngcontent-tfg-c286=""
                                                                    class="itfc-input-spacer">:</span><input
                                                                    _ngcontent-tfg-c286="" allownumbersonly=""
                                                                    formcontrolname="minute" size="2" maxlength="2"
                                                                    class="itfc-input-element ng-untouched ng-pristine ng-valid"
                                                                    placeholder=""></div>
                                                        </orgos-input-time-form-control><span
                                                            class="mat-form-field-label-wrapper ng-tns-c83-7"><label
                                                                class="mat-form-field-label ng-tns-c83-7 mat-empty mat-form-field-empty ng-star-inserted"
                                                                id="mat-form-field-label-3" for="itfc-input-1"
                                                                aria-owns="itfc-input-1"><!----><mat-label
                                                                    _ngcontent-tfg-c287=""
                                                                    class="ng-tns-c83-7 ng-star-inserted">Ende</mat-label><!----><!----></label><!----></span>
                                                    </div><!---->
                                                </div>
                                                <div class="mat-form-field-underline ng-tns-c83-7 ng-star-inserted">
                                                    <span class="mat-form-field-ripple ng-tns-c83-7"></span></div>
                                                <!---->
                                                <div class="mat-form-field-subscript-wrapper ng-tns-c83-7"><!---->
                                                    <div class="mat-form-field-hint-wrapper ng-tns-c83-7 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                        style="opacity: 1; transform: translateY(0%);"><!---->
                                                        <div class="mat-form-field-hint-spacer ng-tns-c83-7"></div>
                                                    </div><!---->
                                                </div>
                                            </div>
                                        </mat-form-field><!----><!----><!----></orgos-input-simple-time><!---->
                                    <div _ngcontent-tfg-c611=""
                                        class="wat-breaks-container kenjo-ml-20px ng-star-inserted">
                                        <div class="wat-new-breaks">
                                            <div class="wat-total-breaks">0</div>
                                            <div class="kenjo-ml-10px">Pausen</div><!---->
                                        </div>
                                        <div _ngcontent-tfg-c611=""></div>
                                    </div><!---->
                                </div><!---->
                                <div class="wat-content__entry__bottom">
                                    <div class="wat-inline-message-container">
                                        <!----><!----><!----><!----><!----><!----><!----><!----><!----></div>
                                </div>
                            </div><!----><!----><!---->
                        </div>
                    </div><!----><!---->
                </orgos-widget-content></div>
            <div _ngcontent-tfg-c413="" class="widget-footer kenjo-p-20px ng-star-inserted"
                style="height: 17px; background-color: rgb(248, 248, 248);"><orgos-widget-footer _ngcontent-tfg-c611="">
                    <div class="kenjo-text-align-center">
                        <div class="mat-tooltip-trigger"><!----></div><!---->
                        <div class="mat-tooltip-trigger"
                            aria-describedby="cdk-describedby-message-9" cdk-describedby-host=""><orgos-action
                                _nghost-tfg-c101=""
                                class="ng-star-inserted kenjo-font-color-primary-5993e3"><orgos-column-container
                                    _ngcontent-tfg-c101="" centercolumns="true" _nghost-tfg-c100=""
                                    style="align-items: center;"><!----><orgos-column _ngcontent-tfg-c101="" size="0"
                                        class="ac-action-text ac-flex-auto ac-uppercase" orgoscolumn="[object Object]"
                                        style="flex-grow: 0; flex-shrink: 0; word-break: normal;"> NEUE SCHICHT
                                        HINZUFÜGEN </orgos-column></orgos-column-container></orgos-action><!----></div>
                        <!---->
                    </div>
                </orgos-widget-footer></div><!---->
        </orgos-container><!----><!----></orgos-widget><!---->
    <div class="btn-group-kenbuddy" style="text-align: center;"><button type="button">Fill week</button></div>
</orgos-widget-attendance>